<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%- link('home') -%>">Elastic-Pipeline</a>
    <ul class="navbar-nav mr-auto">
        <% if (typeof(navigationPages) == 'object') { %>
            <% for( let index = 0; index < navigationPages.length; index++ ) { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%- link(navigationPages[index].GetURI()) -%>"> <%- navigationPages[index].GetName() %></a>
                </li>
            <% } %>
        <% } %>
    </ul>
    <ul class="navbar-nav">
        <% if (typeof user == 'undefined') { %>
            <a class="nav-link" href="<%- link('login') -%>">Login</a>
            <a class="nav-link" href="<%- link('register') -%>">Register</a>
        <% } else { %>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userProfileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <%- user.GetUsername() %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="userProfileDropdown">
                  <li><a class="dropdown-item" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
                  <li><a class="dropdown-item" href="<%- link('logout') -%>"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </div>
        <% } %>
    </ul>
</nav>