<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(MODULE_Official_Generic_Layout + '/partials/head'); %>
        <%- include(MODULE_Official_Bootstrap_Form_Wrapper + '/partials/remote.head.ejs'); %>
    </head>
    <body class="container">

      <header>
          <%- include(MODULE_Official_Pipeline + '/partials/header'); %>
      </header>

      <main>
        <!-- Breadcrumbs -->

        <div class="row">
          <!-- Left Pane -->
            <div class="col-3">
                <%- include(MODULE_Official_Pipeline + '/partials/sidebar') %>
            </div>
            <!-- Right Pane -->
            <div class="col-9">
                <div class="jumbotron">
                    <h1>Folders/Jobs/Pipelines</h1>
                    <div class="card">
                      <div class="card-body">
                        <!-- Display Jobs... -->
                          <%- projectsTable %>
                          <!-- Page Navigation for Jobs... -->
                          <nav aria-label="Page navigation" class="d-flex justify-content-center">
                            <ul class="pagination pagination-sm">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&lt;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link bg-primary" href="#">2</a></li>

                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&gt;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </main>
      <footer class='fixed-bottom'>
          <%- include(INTERNAL_MODULE_GLOBAL + '/partials/footer'); %>
      </footer>
      <%- include(MODULE_Official_Bootstrap_Form_Wrapper + '/partials/remote.tail.ejs'); %>
     </body>
</html>