<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(MODULE_Official_Generic_Layout + '/partials/head'); %>
        <%- include(MODULE_Official_Bootstrap_Form_Wrapper + '/partials/remote.head.ejs'); %>
    </head>
    <body class="container">

        <header>
            <%- include(MODULE_Official_Pipeline + '/partials/header'); %>
            <%- include(MODULE_Official_Pipeline + '/partials/breadcrumbs') %>
        </header>

        <main>
            <!-- Breadcrumbs -->

            <div class="row">
                <!-- Left Pane -->
                <div class="col-3">
                    <%- include(MODULE_Official_Pipeline + '/partials/sidebar') %>
                </div>
                <!-- Right Pane -->
                <div class="col-9">
                    <div class="jumbotron">
                        <% entries = subPages.forEach(function(categoryPage)
                        {%>
                            <h2 id="<%- categoryPage.GetName() %>"><%- categoryPage.GetName() %></h2>

                            <% entries = categoryPage.GetSubPages().forEach(function(configPage)
                            {%>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="<%- link(configPage.GetURI()) %>"><%- configPage.GetName() %></a></h5>
                                        <p class="card-text"><%- configPage.GetDescription() %></p>
                                    </div>
                                </div>
                            <% }); %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </main>
        <footer class='fixed-bottom'>
            <%- include(INTERNAL_MODULE_GLOBAL + '/partials/footer'); %>
        </footer>
        <%- include(MODULE_Official_Bootstrap_Form_Wrapper + '/partials/remote.tail.ejs'); %>
    </body>
</html>